     <!-- ======= About Section ======= -->
  <section class="about" id="about">
      <div id="about" class="paddsection">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-4">
              <div class="div-img-bg">
                <div class="about-img">
                  <img
                    src="assets/img/jhheadshot.png"
                    class="img-responsive"
                    alt="Jerry Hansana"
                  />
                </div>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="about-descr">
                <p class="p-heading">Welcome, fellow explorer.</p>
                <p class="separator">
                  Currently, I'm building Cerebro Link to decipher
                  interconnected patterns encapsulating the human condition of
                  emotion. A major goal is to improve outcomes in mental health
                  and wellbeing with
                  <a
                    href="https://mitsloan.mit.edu/ideas-made-to-matter/emotion-ai-explained"
                    target="blank"
                    >Emotion AI | Affective Computing.</a
                  >
                </p>

                <blockquote>
                  At this very moment, you are a brain with 86 billion neuronal
                  cells, experiencing itself thinking about the way another
                  brain thinks.
                </blockquote>
                <p class="separator">
                  Cerebro utilizes Machine Learning, interdisciplinary research
                  in Cognitive Behavioural Science, and Wearable Technologies to
                  connect the dynamic links between The Brain, Body, Behaviour,
                  and Environments. I studied Cognitive Behavioral Science
                  <i
                    >(Psychology, Human Computer Interaction, Human Factors
                    Engineering, Research Design and Statistics, Ergonomics,
                    Neuropsychology, Memory, Sensation-Perception, Sociology)</i
                  >
                  and Business at the
                  <a href="https://www.utah.edu/" target="blank"
                    >Univeristy of Utah</a
                  >: a select member of top-tier research institutions in the
                  esteemed Association of American Universities
                  <a href="https://www.aau.edu/who-we-are" target="blank">
                    (AAU)</a
                  >.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
          <!-- End About Section -->