    <!-- ======= Navbar ======= -->
    <nav id="main-nav">
      <div class="row">
        <div class="container">
          <div class="logo">
            <a href="index.html">.</a>
          </div>

          <div class="responsive">
            <i data-icon="m" class="ion-navicon-round"></i>
          </div>

          <ul class="nav-menu list-unstyled">
            <li><a href="index.html" class="smoothScroll">Home</a></li>
            <li><a href="#projects" class="smoothScroll">Projects</a></li>
            <li><a href="#about" class="smoothScroll">About</a></li>
            <li><a href="#essays" class="smoothScroll">Essays</a></li>
            <li><a href="#exploratory" class="smoothScroll">Exploratory</a></li>
            <li><a href="#contact" class="smoothScroll">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->